/* ============ Top Navigation Styles ============ */
.top-nav{
  background-color:white;
  overflow: auto;
  color: #606060 !important;
}

.top-nav a, .top-nav a:hover, .top-nav a:visited {
  color: #606060 !important;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
nav ul li {
  display: inline-block;
  position: relative;
}
.top-nav ul li + li{
  margin-left: 10px;
}
.left-nav{
  float: left;
}

.right-nav{
  float: right;
  display: inline-block;
}

/* ============ Main Navigation Styles ============ */
.main-nav {
  min-height: 6.3rem;
  overflow: visible;
  background-color: #00694E;
  color: white;
  position: relative;
  z-index: 3;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.main-nav a, .main-nav a:hover, .main-nav a:visited  {
    color: white !important;
    text-decoration: none;
}

.main-nav #menu a::after {
    content: "";
    height: 2px;
    width: 0px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 41px;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.main-nav #menu a:hover::after, #menu .current-menu-item::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 41px;
    -webkit-transition: width .2s;
    transition: width .2s;
}

.main-nav nav {
  float: right;
  height: 63px;
  line-height: 63px;
  line-height: 6.3rem;
}

.main-nav img {
  height: 63px;
  height: 6.3rem;
}
#menu li + li{
  margin-left: 42px;
}

.slicknav_menu{
  position: absolute;
  top: 0;
  right: 0;

}

@media screen and (max-width: 991px){
  #menu{
    display: none;
  }
  .slicknav_menu{
    display:block;
  }
}
@media screen and (min-width: 992px){
  .slicknav_menu{
    display:none;
  }
}

@media screen and (max-width: 576px){
  .main-nav img {
      margin-top: 7px;
      height: 48px;
      height: 4.8rem;
    }
}

/* ============ Home Feature Styles ============ */

.home-feature{
    height: 50vh;
    background-color: powderblue;
    position: relative;
    min-height: 386px;
    max-height: 523px;
    background-position: bottom left;
    background-size: cover;
    top: -63px;
    padding-top: 63px;
}

@media screen and (max-width: 576px){
  .home-feature {
    height: 95vh;
    min-height: 523px;
    padding-top: 33px;
    }
}

.home-feature-wrapper {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: white !important;
}

.home-feature input[type="button"]{
    margin-top: 20px;
}

/* ============ jQuery Animation Styles ============ */
.nav-swing-1{
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}
.nav-swing-2{
    -webkit-transform: translateY(-2px) rotate(-45deg);
            transform: translateY(-2px) rotate(-45deg);
    margin-top: 0 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
}
.nav-swing-3{
    opacity: 0;
}
.bk-main {
    //background-color: #00694E !important;
    background-color: black !important;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
