/* ============ Top Navigation Styles ============ */

.top-nav {
  background-color: white;
  overflow: auto;
  color: #606060 !important;
}

.top-nav a, .top-nav a:hover, .top-nav a:visited {
  color: #606060 !important;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  position: relative;
}

.top-nav ul li+li {
  margin-left: 10px;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
  display: inline-block;
}

/* ============ Main Navigation Styles ============ */

.main-nav {
  min-height: 6.3rem;
  overflow: visible;
  background-color: #00694E;
  color: white;
  position: relative;
  z-index: 3;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.main-nav a, .main-nav a:hover, .main-nav a:visited {
  color: white !important;
  text-decoration: none;
}

.main-nav #menu a::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 41px;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.main-nav #menu a:hover::after, #menu .current-menu-item::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 41px;
  -webkit-transition: width .2s;
  transition: width .2s;
}

.main-nav nav {
  float: right;
  height: 63px;
  line-height: 63px;
  line-height: 6.3rem;
}

.main-nav img {
  height: 63px;
  height: 6.3rem;
}

#menu li+li {
  margin-left: 42px;
}

.slicknav_menu {
  position: absolute;
  top: 0;
  right: 0;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 992px) {
  .slicknav_menu {
    display: block;
  }
  #menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .main-nav img {
    margin-top: 7px;
    height: 48px;
    height: 4.8rem;
  }
}

/* ============ Home Feature Styles ============ */

.home-feature {
  height: 50vh;
  background-color: powderblue;
  position: relative;
  min-height: 386px;
  max-height: 523px;
  background-image: url(/assets/Ohio-University-Home-Feature.jpg);
  background-position: bottom left;
  background-size: cover;
  top: 0px;
  margin-top: -63px;
  padding-top: 63px;
  bottom: 0px;
}

@media screen and (max-width: 576px) {
  .home-feature {
    height: 95vh;
    min-height: 473px;
    padding-top: 7em;
  }
}

.home-feature-wrapper {
  color: white !important;
}

.home-feature input[type="button"] {
  margin-top: 20px;
}

/* ============ jQuery Animation Styles ============ */

.nav-swing-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-swing-2 {
  -webkit-transform: translateY(-2px) rotate(-45deg);
  transform: translateY(-2px) rotate(-45deg);
  margin-top: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-swing-3 {
  opacity: 0;
}

.bk-main {
  background-color: black !important;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

/* ============ Home Ft Services Styles ============ */

.ft-service-container {
  margin-top: 28px;
}

.ft-service-wrapper {
  display: block;
  overflow: auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ft-service {
  height: 270px;
  height: 27rem;
  width: 270px;
  width: 27rem;
  min-width: 27rem;
  min-width: 270px;
  text-align: center;
  background-color: #00694E;
  color: white !important;
  position: relative;
  margin: 0 0 10px 0px;
  display: block;
  float: left;
}

@supports (display: flex) {}

/* Media Queries */

.ft-service+.ft-service {
  margin-left: 3rem;
  margin-left: 30px;
}

.ft-service:nth-child(5n + 5){
  margin-left: 0px;
}

@media screen and (max-width: 1220px) {
  .ft-service+.ft-service {
    margin-left: 13%;
  }
  .ft-service:nth-child(even) {
    margin-right: 13%;
    margin-left: 13%;
  }
  .ft-service {
    width: 30%;
    margin-left: 13%;
  }
  body {
    background-color: red;
  }

  @supports (display: flex) {
    .ft-service+.ft-service {
      margin-left: 0;
    }
    .ft-service:nth-child(even) {
      margin-right: 0;
      margin-left: 0;
    }
    .ft-service {
      margin-left: 0;
      width: 270px;
      width: 27rem;
    }

  }
}

@media screen and (max-width: 992px) {
  .ft-service+.ft-service, .ft-service:nth-child(even), .ft-service {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.ft-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  border: 2px solid white;
}

.ft-service img {
  max-height: 50px;
  display: block;
  margin: 40px auto 0 auto;
}

.ft-service h2 {
  display: inline-block;
  margin: 3px 0 10px 0;
}

.ft-service h2:after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: white;
  margin-top: 3px;
}

.ft-service ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ft-service ul li {
  position: relative;
  display: block;
}

.ft-service a, .ft-service a:visited, ft-service a:visited {
  color: white !important;
}
