.shop-sidebar {
	padding: 1rem 2rem;
	box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
}

/**
 * Products
 */
.woocommerce-ordering {
	margin-bottom: 28px;
	margin-bottom: 2.8rem;
}

 .add-to-cart-btn {
	 font-size: 18px;
	 color: white!important;
 }

.onsale {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	color: white !important;
	font-size: 16px;
	padding: 5px 10px;
	background-color: #343a40;
}

ul.products {
	@include clearfix;
	margin: 0;
	padding: 0;

	li.product {
		list-style: none;
		position: relative;
		margin-bottom: 2em;

		.woocommerce-loop-product__title {
			color: black;
			text-align: center;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}

		.button {
			display: block;
		}
	}
}

@media screen and (min-width: 48em) {
	ul.products {
		li.product {
			@include column-width(3);
			float: left;
			margin-right: $columns__margin;

			&.first {
				clear: both;
			}

			&.last {
				margin-right: 0;
			}
		}
	}

	.columns-1 {
		ul.products {
			li.product {
				float: none;
				width: 100%;
			}
		}
	}

	@for $i from 2 through 6 {
		.columns-#{$i} {
			ul.products {
				li.product {
					@include column-width( $i );
				}
			}
		}
	}
}
