/**
 * Single Search Product
 */

.cob-product-image .attachment-post-thumbnail {
	width: 200px;
	height: auto;
}

/**
 * Single Product
 */
.single-product {
	.onsale {
		left: 15px;
	}
		.woocommerce-product-gallery {
			position: relative;

			.woocommerce-product-gallery__trigger {
				position: absolute;
				top: 1em;
				right: 1em;
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: 1em;
				box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .16);
			}

			.flex-control-thumbs {
				padding: 0;
				list-style: none;
				margin: 14px 0;
				overflow: auto;

				li {
					list-style: none;
					cursor: pointer;
					float: left;
					display: inline-block;

					img {
						opacity: .5;
						max-width: 100px;
						height: auto;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}
			.woocommerce-product-gallery__image > a > img {
				width: 100%;
				height: auto;
			}
		}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $woocommerce__color-success;
	}

	&.out-of-stock {
		color: $woocommerce__color-error;
	}
}
