/* ============ Home Banner Styles ============ */

.contact-banner {
  background-color: $color__gray;
  min-height: 73px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-size: 2.4rem;
  color: white !important;
  text-align: center;
  line-height: 73px;
}
.contact-banner > .container {
  height: 100%;
}

.contact-banner .h2 {
  display: inline-block;
  margin-right: 1em;
}

.contact-banner form {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .contact-banner {
    line-height: 24px;
    height: auto;
    padding: 1em 0;
  }
  .contact-banner .h2 {
    margin-right: 0px;
  }

  .contact-banner form {
    margin-top: 1rem;
  }
}
