/* ============ Home Feature Styles ============ */

.home-feature {
  height: 60vh;
  //background-color: powderblue;
  position: relative;
  min-height: 386px;
  max-height: 523px;
  background-image: url(/assets/Ohio-University-Home-Feature.jpg);
  background-position: bottom left;
  background-size: cover;
  top: 0px;
  margin-top: -63px;
  padding-top: 63px;
  bottom: 0px;
}

@media screen and (max-width: 576px) {
  .home-feature {
    height: 95vh;
    min-height: 473px;
    padding-top: 7em;
  }
}

.home-feature-wrapper {
  color: white !important;
  height: 100%;
}

.home-feature input[type="button"] {
  margin-top: 20px;
}

/* ============ jQuery Animation Styles ============ */

.nav-swing-1 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-swing-2 {
  -webkit-transform: translateY(-2px) rotate(-45deg);
  transform: translateY(-2px) rotate(-45deg);
  margin-top: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.nav-swing-3 {
  opacity: 0;
}

.bk-main {
  background-color: black !important;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

/* ============ Home Ft Services Styles ============ */

.ft-service-container {
  //margin: 2.2em auto;
  overflow: auto;
}

.ft-service-wrapper {
  display: block;
  overflow: auto;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ft-service {
  height: 270px;
  height: 27rem;
  width: 270px;
  width: 27rem;
  min-width: 27rem;
  min-width: 270px;
  text-align: center;
  background-color: $color__primary;
  color: white !important;
  position: relative;
  margin: 0 0 6rem 0px;
  display: block;
  float: left;
  -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .16);
          box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .16);
}

.ft-service {
  margin-right: 2rem;
  margin-right: 20px;
}

.ft-service:last-child {
    margin-right: 0;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .ft-service {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
    .ft-service:last-child {
    margin-right: auto;
}
}

.ft-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px;
  border: 2px solid white;
}

.ft-service img {
  max-height: 50px;
  display: block;
  margin: 0px auto;
}

.ft-service h2 {
  display: inline-block;
  margin: .3em 0 0 0;
}

.ft-service h2:after {
  content: '';
  height: 1px;
  width: 100%;
  display: block;
  background-color: white;
  margin-top: 3px;
}

.ft-service ul {
  list-style: none;
  margin: .3em 0 0 0;
  padding: 0;
}

.ft-service ul li {
  position: relative;
  display: block;
}

.ft-service a, .ft-service a:visited, .ft-service a:visited {
  color: white;
}

.service-links {
  border-top: solid 1px #C5C5C5;
  padding: 14px 0;
  text-align: left;

  a {
    color: $color__secondary !important;
    &:hover, &:active, &:visited {
      color: $color__secondary !important;
    }
  }

  ul {
    margin-left: 2.8rem;
  }
  li {
    margin-bottom: 1rem;
  }

}

/* ============ Home Banner Styles ============ */

.home-banner {
  background-color: $color__primary;
  height: 73px;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 24px;
  font-size: 2.4rem;
  color: white !important;
}

.home-banner::after{
  position: absolute;
  content: "";
  display: block;
  height: 30px;
  width: 30px;
  background-color: #00694e;
  left: 50%;
  transform: translateX(-15px) translateY(-15px) rotate(45deg);
}
.home-banner > .container {
  height: 100%;
}

.home-banner marquee {
  line-height: 73px;
}

/* ============ Home Updates ============ */

.home-updates .card-title{
    clear: right;

}

.space-bottom{
    content:"";
    height: 300px;
}

.home-updates .card {
    border-radius: 0px;
    border: none;
    max-width: 475px;
    -webkit-box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .16);
          box-shadow: 0 3px 6px 1px rgba(0, 0, 0, .16);
}

.card + .card{
  margin-top: 1em;
}

.home-updates img {
    margin-right: 12.5px;
    border-radius: 50%;
}

.home-updates .card-text {
    margin-top: 10px;
    margin-top: 1rem;
}
