/* ============ Forms ============ */
.forms-pg .card {
  border: none;
  border-radius: 0; }
  .forms-pg .card p {
    max-width: 226px;
    margin: 0 auto; }

.forms-pg .card-img-top {
  height: 147px;
  width: inherit;
  margin: 0 auto;
  display: block; }
