a {
	color: $color__link;
	text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;


	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a:not([href]):not([tabindex]) {
  //color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  //color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

.ft-service a {
	position: relative;
}

.ft-service a::after {
  content: "";
  height: 2px;
  width: 0px;
  background-color: $color__primary;
  position: absolute;
  left: 0;
  -webkit-transition: width .2s;
  transition: width .2s;
	bottom: -2px;
}

.ft-service a:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: $color__primary;
  position: absolute;
  left: 0;
	bottom: -2px;
	right: 0;
  -webkit-transition: width .2s;
  transition: width .2s;
}
